In [2]:
library(dataiku)

In [23]:
# Example: load a DSS dataset as a R dataframe
mydataset <- dkuReadDataset("loan_metrics_by_state", samplingMethod="head", nbRows=100000)

In [25]:
str(mydataset)

'data.frame':	50 obs. of  11 variables:
 $ addr_state     : chr  "KY" "MO" "NC" "AL" ...
 $ loan_amnt_avg  : num  13245 12990 13935 13861 13728 ...
 $ loan_amnt_sum  : int  8953750 14951200 26239050 12322250 14771100 34850 6859500 40292925 5325900 17469000 ...
 $ int_rate_min   : num  5.42 5.42 5.42 5.42 5.42 ...
 $ int_rate_max   : num  26.1 26.1 26.1 25.9 26 ...
 $ int_rate_avg   : num  13.7 13.4 13.7 13.9 13.3 ...
 $ installment_avg: num  395 388 419 415 417 ...
 $ dti_min        : num  0.72 0.23 0 0 0.38 2.94 0 0 0.29 0 ...
 $ dti_max        : num  39.7 39.6 39.7 39.4 38 ...
 $ dti_avg        : num  17.9 17.9 17.7 18.7 15.8 ...
 $ count          : int  676 1151 1883 889 1076 2 503 2748 376 1328 ...

In [7]:
a = "your expected interest rate is"
b = "100%"
c = "your expected interest rate is not"
d = "20%"

In [4]:
row1 = c(a, b)
row2 = c(c, d)

In [5]:
df = as.data.frame(row1, row2)

In [6]:
df

                               row1
your expected interest rate is your expected interest rate is
20%                            100%

In [11]:
loan_amnt = 10000
prediction_int_rate = 8.8

In [21]:
col1 = c("Your proposed interest Rate is", "Your monthly installments are", "The total cost of your Loan is")
col2 = c(paste(round(prediction_int_rate, 2), "%"), as.numeric(loan_amnt*(1+prediction_int_rate/100)), "test")
            
df <- as.data.frame(col2, col1)
print(df)

                                col2
Your proposed interest Rate is 8.8 %
Your monthly installments are  10880
The total cost of your Loan is  test

In [16]:
col2

[1] "8.8 %" "10880"