In [6]:
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [7]:
import dataiku
from dataiku import pandasutils as pdu
import pandas as pd

In [8]:
# Read the dataset as a Pandas dataframe in memory
# Note: here, we only read the first 100K rows. Other sampling options are available
dataset_loan_applications_2012_clean = dataiku.Dataset("loan_applications_2012_clean")
df = dataset_loan_applications_2012_clean.get_dataframe(limit=100000)

In [9]:
# Get some simple descriptive statistics
pdu.audit(df)

            _a_variable _b_data_type  _c_cardinality  _d_missings                                   _e_sample_values
0             loan_amnt        int64            1177            0                                      [1000, 14575]
1           funded_amnt        int64            1177            0                                      [1000, 14575]
2       funded_amnt_inv      float64            1271            0                                  [1000.0, 14575.0]
3                  term       object               2            0                             [36 months, 60 months]
4              int_rate      float64              88            0                                     [12.39, 11.99]
5           installment      float64           16205            0                                    [33.41, 484.03]
6                 grade       object               7            0                                             [C, B]
7             sub_grade       object              35            0                                           [C1, B5]
8            issue_date       object              12            0                               [Dec-2012, Nov-2012]
9               issue_d       object              12            0                               [Dec-2012, Nov-2012]
10             zip_code       object             839            0                                     [567xx, 840xx]
11           addr_state       object              48            0                                           [MN, UT]
12                  dti      float64            3841            0                                      [18.38, 23.0]
13            emp_title       object           23951         3400                      [Attorney, Workforce Manager]
14     emp_length_month        int64              11            0                                          [36, 108]
15       home_ownership       object               4            0                                        [OWN, RENT]
16  verification_status       object               3            0                        [Source Verified, Verified]
17          loan_status       object               2            0                                     [ok, incident]
18           pymnt_plan       object               1            0                                                [n]
19                 desc       object            5223        53943  [nan, Borrower added on 03/18/14 > Pay down cr...
20              purpose       object              13            0                        [other, debt_consolidation]
21                title       object             868            0                        [Other, Debt consolidation]

In [10]:
import numpy